[Unit]
Description=Announcer for BeholderPi clients
After=network.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/src/beholder_client_announce.py > /home/pi/announcer.log 2>&1
Restart=on-failure

[Install]
WantedBy=multi-user.target
