[Unit]
Description=Discovery service for BeholderPi clients
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/beholder_discovery_sender.py > /home/pi/beholder_discovery.log 2>&1
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
