[Unit]
Description=piEye Video streaming
After=network.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/src/BeholderPi/main.py > /home/pi/piEye_streaming.log 2>&1

[Install]
WantedBy=multi-user.target
