[Unit]
Description=piEye Video streaming
After=network.target

[Service]
Type=idle
User=beholder
WorkingDirectory=/home/beholder
ExecStart=/usr/bin/python3 /home/beholder/src/BeholderPi/piEye/main.py

[Install]
WantedBy=multi-user.target
